.container {
    padding: 15px;
    max-width: 1000px;
    margin: 0 auto;
}

.inner {
    padding: 10px;
    border: 5px solid lightgray;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
}

.name {
    font-size: 20px;
}

.inner p {
    margin: 0 0 10px 0;
    padding: 0;
}

.inner span {
    font-weight: bold;
}